.main {
  display: flex;
  flex-direction: column;
}

.toolbar {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-size: 25px;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 5px;
}

.container {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container .dataContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 60px;
  flex: 1;
  height: max-content;
}

.container .dataContainer button {
  background-color: #24a0ed;
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 800;
}

.searchData {
  margin-top: 50px;
  font-size: 25px;
  max-width: 500px;
  overflow: auto;
  border: 1px solid gray;
  padding: 20px;
}

.searchJsonData {
  overflow: auto;
  max-height: 300px;
  padding: 30px;
  padding-left: 60px;
  border: 1px solid gray;
  margin-top: 50px;
}

.searchJsonData li {
  padding: 5px;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 20px;
}
